-
  var topSkills = [
    {
        prs: 95,
          
        
      
      title: "designing"},
    

    {
        prs: 77,
          
        
      
      title: "developing"},
    

    {
        prs: 99,
          
        
      
      title: "consulting"},
    

    {
      prs: 62,
      title: "marketing"},
    {
        prs: 85,
          
        
      
      title: "branding"},
  ]

-
  var bottomSkills = [

      {
              title: "html/css",
              prs: 65},
            
          
        
      

      {
              title: "responsive web design",
              prs: 85},
            
          
        
      

      {
              title: "ios development",
              prs: 95},
            
          
        
      

      {
              title: "javascript game development",
              prs: 77}
  ]

section#skills.section.section--light_bg.skills
  .section-container.skills-container

    a.section-anchor(name="skills")

    h2.section-title.section-title--main our skills
    p.section-main_desc.skills-main_desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only.

    each item, index in topSkills
      .section-block.skill_block(class="skill_block--item_" + (index + 1))
        .rhombus_wrap.skill_block-rhombus
          .rhombus_wrap-rhombus= item.prs
          .rhombus_wrap-rhombus.skill_block-bg_wrap
            .skill_block-bg
              .skill_block-percents= item.prs
        h3.section-title= item.title

    ul#skills-technologies.skill_list
      each item, index in bottomSkills
        li.skill_list-item(class="skill_list-item--item_" + (index + 1))
          .skill_list-frame
            .skill_list-wrap
              .skill_list-content
                .skill_list-title= item.title
                .skill_list-percents #{item.prs}%
